{% extends "base1.html.twig" %}

{% block title %}
WeSport | Modifier mon compte
{% endblock %}

{% block body %}
<div class="container bloc-home">
    {{ form_start(form)}}


    {{form_row(form)}}

    <button class="btn btn-primary">Enregister les modifications</button>
    {{ form_end(form)}}
</div>
{% endblock %}