{% extends "base1.html.twig" %}

{% block body %}

<div class="container bloc-home">
    <div class="metadata">Créé le {{eventSport.createdAt | date('Y/m/d')}} à {{eventSport.createdAt | date('H:i')}} dans
        la
        catégorie {{eventSport.sport.sportName}}
    </div>
    <p>Lieu {{eventSport.zipCode}}, {{eventSport.city}}</p>
    <div class="content">
        <img src="{{eventSport.image}}" alt="">
        <p>{{eventSport.descriptionEvent}}</p>
    </div>
</div>

{% endblock %}