{% extends "base1.html.twig" %}

{% block body %}

<h1 class="text-center mt-4 mb-4 jumbotron">Editer le sport</h1>

<div class="container bloc-home">

    {{ form_start(form)}}

    {{ form_row(form.sportName, {'attr': {'placeholder': "Nom du sport"}, 'label': "Sport"})}}

    <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
    {{ form_end(form)}}
</div>

{% endblock %}