{% extends "base1.html.twig" %}

{% block title %}
Admin | Edit
{% endblock %}

{% block body %}
<h1 class="jumbotron text-center">Editer l'utilisateur</h1>
<div class="container bloc-home">
    <div>Nom d'utilisateur: {{ user.username }}</div>
    <div>Email: {{ user.email }}</div>
    <div>Numéro d'id: {{ user.id}} </div>
    {{ form_start(form)}}

    {{ form_row(form.roles) }}

    <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
    {{ form_end(form)}}
</div>

{% endblock %}