{% extends 'base1.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<h1 class="jumbotron text-center">Inscription</h1>

<div class="container bloc-home">
    {{ form_start(form_register)}}

    {{ form_row(form_register.username, {'attr': {'placeholder': "Nom d'utilisateur"}, 'label': "Nom d'utilisateur"})}}
    {{ form_row(form_register.email, {'attr': {'placeholder': "Email"}, 'label': "Email"})}}
    {{ form_row(form_register.password, {'label': "Mot de Passe"})}}

    {% for row in form_register.userInfo  %}
    {{form_row(row)}}
    {% endfor %}

    <button type="submit" class="btn btn-primary mb-4">S'inscrire</button>
    {{ form_end(form_register)}}
</div>

{% endblock %}