{% extends 'base1.html.twig' %}

{% block title %}WeSport | Contact {% endblock %}

{% block body %}
<h1 class="jumbotron text-center">Nous contacter</h1>
<div class="container bloc-home">
    {{ form_start(form_contact)}}
    {{ form_row(form_contact.nom, {'attr': {'placeholder': "Ex: Valentin Lemoine"}, 'label': "Nom"})}}
    {{ form_row(form_contact.email, {'attr': {'placeholder': "valou@gmail.com"}, 'label': "Email"})}}
    {{ form_row(form_contact.message, {'label': "Message"})}}
    <button type="submit" class="btn btn-primary mb-4">Envoyer</button>
    {{ form_end(form_contact)}}
</div>
{% endblock %}